<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../google-signin/google-signin.html">
<link rel="import" href="../google-signin/google-signin-aware.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">

<dom-module id="login-element">

  <style>
    .login-dialog {
      width: 512px;
      height: 512px;
    }
  </style>
  
  <template>
    <paper-button on-click="handleSignOut">LOGOUT</paper-button>
    <paper-dialog id="loginDialog" class="login-dialog" modal>
      <h2>LOGIN</h2>
      <google-signin client-id="131339189139-4sp4v58joucu7uummaohb0qhgs2pnl28.apps.googleusercontent.com"></google-signin>
      <google-signin-aware
        scopes="profile"
        signed-in="{{signedIn}}"
        is-authorized="{{isAuthorized}}"
        need-additional-auth="{{needAdditionalAuth}}"
        on-google-signin-aware-success="handleSignIn"
        on-google-signin-aware-signed-out="handleSignOut">
      </google-signin-aware>
    </paper-dialog>
    <paper-toast id="loggedIn" text="You have succesfully logged in!"></paper-toast>
    <paper-toast id="loggedOut" text="You have succesfully logged out!"></paper-toast>
  </template>

  <script>
    Polymer({

      is: "login-element",
      properties: {
        'status': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: null,
          observer: '_statusChanged'
				},
        'userName': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: 'N/A'
				},
        'userId': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: 'N/A'
				},
        'userEmail': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: 'N/A'
				},
        'userImage': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: 'N/A'
				}
      },
      attached: function() {
         this.status = 'Not granted';
      },
      handleSignIn: function (response) {
        this.status = 'Signin granted';
        console.log('[Aware] Signin Response', response);
        var userToken = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().id_token;
        console.log('user ID token: ' + userToken );
        this.userId = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getId();
        this.userName = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getName();
        this.userEmail = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getEmail();
        this.userImage = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getImageUrl();
        console.log('id: ' + this.userId);
        console.log('name: ' + this.userName);
        console.log('email: ' + this.userEmail);
        console.log('image: ' + this.userImage);
      },
      disconnect: function () {
        var b = document.querySelector('google-signin');
        var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
        if (currentUser) {
          currentUser.disconnect();
        }
        gapi.auth2.getAuthInstance().signOut();
      },
      handleSignOut: function (response) {
        this.status = 'Signed out';
        console.log('[Aware] Signout Response', response);
        this.userName = 'N/A';
        this.userId = 'N/A';
        this.userEmail = 'N/A';
        this.userImage = 'N/A';
        this.disconnect();
      },
      _statusChanged: function () {
        console.log('login status: ', this.status );
        if (this.status === 'Not granted') {
          this.$.loginDialog.open();
        }
        else if (this.status === 'Signin granted') {
          this.$.loginDialog.close();
          document.querySelector('#loggedIn').show();
        }
        else if (this.status === 'Signed out') {
          this.$.loginDialog.open();
          document.querySelector('#loggedOut').show();
        }
        else {
          return
        }
      }
    });
  </script>

</dom-module>