<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../google-map/google-map.html">
<link rel="import" href="../google-map/google-map-marker.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<dom-module id="map-element">

  <style>
	google-map {
  		height: 768px;
  		width: 768px;
	}
	google-map-marker {
  		background: blue;
  		background-color: blue;
  		color: blue;
  }
  </style>
  
  <template>
  <h>To select specific volunteer for your request, tap their icon on the map. Tap the map to clear selection.</h>
	<div>
	<google-map map="{{map}}" latitude="65.013485" longitude="25.464951" disable-default-ui zoom="16" click-events="true" on-google-map-click="clearvol">
	<google-map-marker id="v1" map="{{map}}" icon="./png/volunteers/1.png" latitude="65.014993" longitude="25.463700" title="volunteer1" data-dialog="newRequest" click-events="true" on-google-map-marker-click="selvol">
	</google-map-marker>
	<google-map-marker id="v2" map="{{map}}" icon="./png/volunteers/2.png" latitude="65.011763" longitude="25.464706" title="volunteer2" data-dialog="newRequest" click-events="true" on-google-map-marker-click="selvol">
	</google-map-marker>
	<google-map-marker id="v3" map="{{map}}" icon="./png/volunteers/3.png" latitude="65.012724" longitude="25.466845" title="volunteer3" data-dialog="newRequest" click-events="true" on-google-map-marker-click="selvol">
	</google-map-marker>
	</google-map>
	</div>
  </template>

  <script>

    Polymer({

      is: "map-element",

      selvol: function (e) {
      	var button = e.target;
			while (!button.hasAttribute('title') && button !== document.body) {
				button = button.parentElement;
			}
			if (!button.hasAttribute('title')) {
				return;
			}
			this.volunteer = button.getAttribute('title');
			if (this.volunteer === 'volunteer1') {
				this.vid = 'a9379adb-8a76-4778-b186-193474a78b95';
				this.$.v1.icon = "./png/volunteers/1_s.png";
				this.$.v2.icon = "./png/volunteers/2.png";
				this.$.v3.icon = "./png/volunteers/3.png";
			}
			else if (this.volunteer === 'volunteer2') {
				this.vid = '9cc5029c-458d-4a24-9b93-a91df839c4b9';
				this.$.v1.icon = "./png/volunteers/1.png";
				this.$.v2.icon = "./png/volunteers/2_s.png";
				this.$.v3.icon = "./png/volunteers/3.png";
			}
			else if (this.volunteer === 'volunteer3') {
				this.vid = '138805b8-210b-424d-83c8-95cdc82151bd';
				this.$.v1.icon = "./png/volunteers/1.png";
				this.$.v2.icon = "./png/volunteers/2.png";
				this.$.v3.icon = "./png/volunteers/3_s.png";
			}
			else {
				return
			}
      	this.fire('iron-signal', {name: 'volunteerselect', data: this.vid});
   	},
   	clearvol: function () {
   		this.fire('iron-signal', {name: 'volunteerclear', data: this.vid});
   		this.$.v1.icon = "./png/volunteers/1.png";
		this.$.v2.icon = "./png/volunteers/2.png";
		this.$.v3.icon = "./png/volunteers/3.png";
   	}

    });
  </script>

</dom-module>