<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">
<link rel="import" href="../neon-animation/neon-animations.html">
<link rel="import" href="../neon-animation/neon-animated-pages.html">
<link rel="import" href="../neon-animation/neon-animatable.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../iron-signals/iron-signals.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<dom-module id="recent-element">
	<style>
		.button-icon {
			--iron-icon-height: 32px;
			--iron-icon-width: 32px;
		}
		.icon-button {
			border-radius: 15px;
			outline: 0.5px solid rgba(0,0,0,0.2);
			box-shadow: 0 4px 16px rgba(0,0,0,0.2);
		}
		.browse-dialog {
			width: 400px;
			height: 450px;
			overflow: hidden;
			border-radius: 15px;
			background: white;

			@apply(--layout-horizontal);
		}
		.recent-menu {
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
		}
		.menuitem {
			outline: 0.5px solid rgba(0,0,0,0.2);
			box-shadow: 0 2px 8px rgba(0,0,0,0.2);
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;

			@apply(--layout-self-end);
			@apply(--layout-horizontal);
		}
		.recent {

			@apply(--layout-horizontal);
		}
		.menu {
      padding-top: 5px;
      padding-left: 5px;
      max-height: 256px;

      @apply(--layout-vertical);
    }
    paper-fab {
      --paper-fab-background: white;
      --paper-fab-keyboard-focus-background: white;
    }
    .contentS {
    	border-top-right-radius: 15px;
    	border-bottom-right-radius: 15px;
    	border-bottom-left-radius: 15px;
      position: absolute;
      top: 5px;
      padding: 5px;
      background: #3F51B5;
      min-width: 256px;
      min-height: 270px;
      max-height: 100%;
      max-width: 100%;

      @apply(--layout-vertical);
    }
    .contentO {
    	border-top-right-radius: 15px;
    	border-bottom-right-radius: 15px;
    	border-bottom-left-radius: 15px;
      position: absolute;
      top: 71px;
      padding: 5px;
      background: #3F51B5;
      min-width: 256px;
      min-height: 270px;
      max-height: 100%;
      max-width: 100%;

      @apply(--layout-vertical);
    }
    .contentI {
    	border-top-right-radius: 15px;
    	border-bottom-right-radius: 15px;
    	border-bottom-left-radius: 15px;
      position: absolute;
      top: 137px;
      padding: 5px;
      background: #3F51B5;
      min-width: 256px;
      min-height: 270px;
      max-height: 100%;
      max-width: 100%;

      @apply(--layout-vertical);
    }
    .request {
      background: #5D6FD2;
      box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }
    .header {
      @apply(--layout-self-center)
    }
	</style>

	<template>
	<iron-signals on-iron-signal-volunteerselect="volunteerSelect">
	<iron-signals on-iron-signal-volunteerclear="volunteerClear">
	<iron-ajax
	auto
	method='GET'
	url="recent.json"
	handle-as="json"
	last-response="{{data}}">
	</iron-ajax>
		<paper-button class="icon-button" data-dialog="recentRequests" on-click="openlay">
		<iron-icon src="./png/recent.png" class="button-icon"></iron-icon>
		browse recent requests
		</paper-button>
		<paper-dialog id="recentRequests" class="browse-dialog" modal>
			<div class="recent">
				<div class="menu">
    				<div id="shopping" class="recent-menu">
						<paper-fab src="./png/shopping.png" data-cat="shopping" id="shopping" on-click="setPage"></paper-fab>
    				</div>
    				<div style="padding: 2px;"></div>
    				<div id="outdoors" class="recent-menu">
						<paper-fab src="./png/outdoors.png" data-cat="outdoors" id="outdoors" on-click="setPage"></paper-fab>
    				</div>
    				<div style="padding: 2px;"></div>
    				<div id="indoors" class="recent-menu">
						<paper-fab src="./png/indoors.png" data-cat="indoors" id="indoors" on-click="setPage"></paper-fab>
    				</div>
					<paper-tooltip for="shopping" margin-top="0">Shopping</paper-tooltip>
					<paper-tooltip for="outdoors" margin-top="0">Outdoors</paper-tooltip>
					<paper-tooltip for="indoors" margin-top="0">Indoors</paper-tooltip>
				</div>
				<div class="pages">
				<neon-animated-pages id="recentCats" class="flex" selected="{{catSel}}" attr-for-selected="data-cat" entry-animation="scale-up-animation" exit-animation="scale-down-animation" animate-initial-selection>
					<neon-animatable data-cat="none"></neon-animatable>

					<neon-animatable data-cat="shopping">
						<div class="contentS">
      					<div class="header">
        						<h2>Shopping</h2>
      					</div>
      					<template is="dom-repeat" items="{{data.shopping}}">
        						<div style="padding: 2px;"></div>
        							<paper-button on-click="copyRequest" request="{{item.request}}" category="{{item.category}}" rid="{{item.rid}}" class="request">{{item.request}}</paper-button>
      					</template>
   					</div>
   				</neon-animatable>

					<neon-animatable data-cat="outdoors">
						<div class="contentO">
      					<div class="header">
        						<h2>Outdoors</h2>
      					</div>
      					<template is="dom-repeat" items="{{data.outdoors}}">
        						<div style="padding: 2px;"></div>
        							<paper-button on-click="copyRequest" request="{{item.request}}" category="{{item.category}}" rid="{{item.rid}}" class="request">{{item.request}}</paper-button>
      					</template>
   					</div>
					</neon-animatable>

					<neon-animatable data-cat="indoors">
						<div class="contentI">
      					<div class="header">
        						<h2>Indoors</h2>
      					</div>
      					<template is="dom-repeat" items="{{data.indoors}}">
        						<div style="padding: 2px;"></div>
        							<paper-button on-click="copyRequest" request="{{item.request}}" category="{{item.category}}" rid="{{item.rid}}" class="request">{{item.request}}</paper-button>
      					</template>
   					</div>
					</neon-animatable>

				</neon-animated-pages>
			</div>
			<div class="close">
				<button style="background: #5D6FD2; border-radius: 3px;" on-click="close">X</button>
			</div>
			</div>
		</paper-dialog>
		<paper-toast id="sent" text="Your request has been sent!"></paper-toast>
	</template>

	<script>
		Polymer({
			is: "recent-element",
			properties: {
				cats: {
					type: Array,
					value: [
						'shopping',
						'outdoors',
						'indoors'
					]
				},
				'svid': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: null
				}
			},
			volunteerSelect: function (e, svid) {
				this.svid = e.detail;
			},
			volunteerClear: function () {
				this.svid = null;
			},
			deactivate: function () {
			this.$.outdoors.style.background = "transparent";
			this.$.indoors.style.background = "transparent";
			this.$.shopping.style.background = "transparent";
			this.$.outdoors.style.paddingTop = "";
			this.$.indoors.style.paddingTop = "";
			this.$.shopping.style.paddingTop = "";
			this.$.outdoors.style.paddingLeft = "";
			this.$.indoors.style.paddingLeft = "";
			this.$.shopping.style.paddingLeft = "";
			this.$.outdoors.style.boxShadow = "";
			this.$.indoors.style.boxShadow = "";
			this.$.shopping.style.boxShadow = "";
			},
			activate: function (cat) {
				this.deactivate();
				this.$[cat].style.background = "#3F51B5";
				this.$[cat].style.paddingTop = "5px";
				this.$[cat].style.paddingLeft = "5px";
				this.$[cat].style.boxShadow = "0 4px 16px rgba(0,0,0,0.8)";
			},
			setPage: function (e) {
      var button = e.target;
      while (!button.hasAttribute('data-cat') && button !== document.body) {
        button = button.parentElement;
      }
      if (!button.hasAttribute('data-cat')) {
        return;
      }
      var cat = button.getAttribute('data-cat');
      var element = document.querySelector('recent-element');
		element.catSel = cat;
		if (cat) {
			this.activate(cat);
		}
		else {
			this.deactivate();
		}
      console.log('page set to: ' + cat);
    },
			openlay: function (e) {
				var button = e.target;
				while (!button.hasAttribute('data-dialog') && button !== document.body) {
					button = button.parentElement;
				}
				if (!button.hasAttribute('data-dialog')) {
					return;
				}
				var id = button.getAttribute('data-dialog');
				var dialog = document.getElementById(id);
				if (dialog) {
					dialog.open();
				}
			},
			close: function () {
				var element = document.querySelector('recent-element');
				var cat = "none";
				element.catSel = cat;
				console.log('category set to: ' + cat);
				this.deactivate();
				this.$.recentRequests.close();
			},
			getUuid: function() {
        var d = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (d + Math.random()*16)%16 | 0;
            d = Math.floor(d/16);
            return (c=='x' ? r : (r&0x3|0x8)).toString(16);
        });
        return uuid;
      },
			copyRequest: function (e) {
				this.instance_request = e.model.item.request;
				this.instance_category = e.model.item.category;
				this.instance_rid = e.model.item.rid;
				this.uuidR = this.getUuid();

				this.uuidC = this.getUuid();

				if (this.svid) {
					this.uuidV = this.svid;
				}
				else {
					this.uuidV = this.getUuid();
				}
				$.post( "http://localhost:5000/requests", { request_id: this.uuidR, volunteer_id: this.uuidV, citizen_id: this.uuidC, request_category: this.instance_category, original_rid: this.instance_rid } );
				var element = document.querySelector('recent-element');
				var cat = "none";
				element.catSel = cat;
				this.$.recentRequests.close();
				this.deactivate();
				document.querySelector('#sent').show();
			}
		});
	</script>

</dom-module>