<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../iron-signals/iron-signals.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-dialog-behavior/paper-dialog-behavior.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<dom-module id="request-element">
	<style>
		.button-icon {
			--iron-icon-height: 32px;
			--iron-icon-width: 32px;
		}
		.item-icon {
			--iron-icon-height: 24px;
			--iron-icon-width: 24px;
		}
		.icon-button {
			border-radius: 15px;
			outline: 0.5px solid rgba(0,0,0,0.2);
			box-shadow: 0 4px 16px rgba(0,0,0,0.2);
		}
		.icon-button-nr {
			border-radius: 15px;
			outline: 0.5px solid rgba(0,0,0,0.2);
			box-shadow: 0 4px 16px rgba(0,0,0,0.2);
			background: white;
		}
		.category-selection {
			border-radius: 15px;

		}
		.shopping {

			@apply(--layout-horizontal);
		}
		.outdoors {

			@apply(--layout-vertical);
		}
		.itemlist {
			overflow-y: scroll;
			min-height: 128px;
			max-height: 512px;
			min-width: 512px;
			max-width: 512px;
			border: 1px solid gray;
			padding: 20px;

			@apply(--layout-wrap);
			@apply(--layout-horizontal);
		}
		.selected-shopping {
			min-width: 128px;
			max-width: 256px;
			min-height: 512px;
			max-height: 512px;
			overflow-y: scroll;
			border: 1px solid gray;
			padding: 20px;

			@apply(--layout-vertical);
		}
		.selected-outdoors {
			min-width: 128px;
			max-width: 384px;
			min-height: 16px;
			max-height: 16px;
			border: 1px solid gray;
			padding: 20px;

			@apply(--layout-horizontal);
		}
		.request-dialog {
			border-radius: 15px;
			overflow: auto;
		}
	</style>
	
	<template>
	<iron-signals on-iron-signal-volunteerselect="volunteerSelect">
	<iron-signals on-iron-signal-volunteerclear="volunteerClear">
	<iron-ajax
	auto
	method='GET'
	url="items.json"
	handle-as="json"
	last-response="{{data}}">
	</iron-ajax>
	<div style="@apply(--layout-horizontal)">
	<div>
			<paper-button class="icon-button" data-dialog="newRequest" on-click="openlay">
		<iron-icon src="./png/request.png" class="button-icon"></iron-icon>
			Create new request
		</paper-button>
		</div>
</div>

		<paper-dialog id="newRequest" class="category-selection" with-backdrop>
			<paper-button class="icon-button-nr" data-dialog="newShopping" on-click="openlay">
				<iron-icon src="./png/shopping.png" class="button-icon"></iron-icon>
				shopping
			</paper-button>
			<paper-button class="icon-button-nr" data-dialog="newOutdoors" on-click="openlay">
				<iron-icon src="./png/outdoors.png" class="button-icon"></iron-icon>
				outdoors
			</paper-button>
			<paper-button class="icon-button-nr" data-dialog="newIndoors" on-click="openlay">
				<iron-icon src="./png/indoors.png" class="button-icon"></iron-icon>
				indoors
			</paper-button>
		</paper-dialog>

		<paper-dialog id="newShopping" class="request-dialog" modal>
			<div class="shopping">
			<div>
				<div class="itemlist">
					<template is="dom-repeat" items="{{data.shopping}}">
						<div>
							<div style="padding-top: 15px"></div>
							<paper-button class="icon-button" id="{{item.item}}" label="{{item.item}}" on-click="add">
								<iron-icon data-cat="shopping" src="{{getImg(index, 'shopping')}}" class="item-icon"></iron-icon>
								<paper-tooltip for="{{item.item}}" margin-top="0">{{item.item}}</paper-tooltip>
							</paper-button>
						</div>
					</template>
				</div>
			</div>
			<div>
				<div class="selected-shopping">
					<h>Selected Items:</h>
					<template is="dom-repeat" items="{{requestList}}">
						<paper-item>
							<paper-item-body>
								<span>{{item}}</span>
							</paper-item-body>
						</paper-item>
					</template>
				</div>
			</div>
		</div>
		<div style="@apply(--layout-flex); @apply(--layout-self-end);">
			<div style="@apply(--layout-horizontal; @apply(--layout-justified);">
				<div>
					<paper-input-decorator label="Custom shopping request" floatingLabel>
						<input is="iron-input" value="{{custom::input}}">
					</paper-input-decorator>
					 <button on-click="addCustomS">Add item</button>
				</div>
				<div>
					<paper-button raised data-dialog="newShopping" on-click="close" style="float: left; padding: 20px;">close</paper-button>
				</div>
				<div>
					<paper-button raised style="float: right; padding: 20px;" data-dialog="newShopping" data-cat="shopping" on-click="send">Send</paper-button>
				</div>
			</div>
		</div>
		</paper-dialog>

		<paper-dialog id="newOutdoors" class="request-dialog" modal>
			<div class="outdoors">
			<div>
				<div class="itemlist">
					<template is="dom-repeat" items="{{data.outdoors}}">
						<div>
							<div style="padding-top: 15px"></div>
							<paper-button class="icon-button" id="{{item.item}}" label="{{item.item}}" on-click="select">
								<iron-icon data-cat="outdoors" src="{{getImg(index, 'outdoors')}}" class="item-icon"></iron-icon>
								<paper-tooltip for="{{item.item}}" margin-top="0">{{item.item}}</paper-tooltip>
							</paper-button>
						</div>
					</template>
				</div>
			</div>
			<div>
				<div class="selected-outdoors">
					<span>Selected Item: </span>
					<template is="dom-repeat" items="{{requestList}}">
						<span>{{item}}</span>
					</template>
				</div>
			</div>
		</div>
		<div style="@apply(--layout-flex); @apply(--layout-self-end);">
			<div style="@apply(--layout-horizontal; @apply(--layout-justified);">
				<div>
					<paper-input-decorator label="Custom shopping request" floatingLabel>
						<input is="iron-input" value="{{custom::input}}">
					</paper-input-decorator>
					 <button on-click="addCustomO">Custom request</button>
				</div>
				<div>
					<paper-button raised data-dialog="newOutdoors" on-click="close" style="float: left; padding: 20px;">close</paper-button>
				</div>
				<div>
					<paper-button raised style="float: right; padding: 20px;" data-dialog="newOutdoors" data-cat="outdoors" on-click="send">Send</paper-button>
				</div>
			</div>
		</div>
		</paper-dialog>

		<paper-dialog id="newIndoors" class="request-dialog" modal>
			<div class="outdoors">
			<div>
				<div class="itemlist">
					<template is="dom-repeat" items="{{data.indoors}}">
						<div>
							<div style="padding-top: 15px"></div>
							<paper-button class="icon-button" id="{{item.item}}" label="{{item.item}}" on-click="select">
								<iron-icon data-cat="indoors" src="{{getImg(index, 'indoors')}}" class="item-icon"></iron-icon>
								<paper-tooltip for="{{item.item}}" margin-top="0">{{item.item}}</paper-tooltip>
							</paper-button>
						</div>
					</template>
				</div>
			</div>
			<div>
				<div class="selected-outdoors">
					<span>Selected Item: </span>
					<template is="dom-repeat" items="{{requestList}}">
						<span>{{item}}</span>
					</template>
				</div>
			</div>
		</div>
		<div style="@apply(--layout-flex); @apply(--layout-self-end);">
			<div style="@apply(--layout-horizontal; @apply(--layout-justified);">
				<div>
					<paper-input-decorator label="Custom shopping request" floatingLabel>
						<input is="iron-input" value="{{custom::input}}">
					</paper-input-decorator>
					 <button on-click="addCustomO">Custom request</button>
				</div>
				<div>
					<paper-button raised data-dialog="newIndoors" on-click="close" style="float: left; padding: 20px;">close</paper-button>
				</div>
				<div>
					<paper-button raised style="float: right; padding: 20px;" data-dialog="newIndoors" data-cat="indoors" on-click="send">Send</paper-button>
				</div>
			</div>
		</div>
		</paper-dialog>

		<paper-toast id="sent" text="Your request has been sent!"></paper-toast>
	</template>

<script>
	Polymer({
		is: "request-element",
			properties: {
				requestList: {
					type: Array,
					notify: true,
					value: []
					},
				'custom': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: null
				},
				'svid': {
					type: String,
					reflectToAttribute: true,
					notify: true,
					value: null
				}
			},
			getImg: function (index, cat){
				var num = index + 1;
				var img = "./png/" + cat + "/" + num.toString() + ".png";
				return img;
			},
			openlay: function (e) {
				var button = e.target;
				while (!button.hasAttribute('data-dialog') && button !== document.body) {
					button = button.parentElement;
				}
				if (!button.hasAttribute('data-dialog')) {
					return;
				}
				var id = button.getAttribute('data-dialog');
				var dialog = document.getElementById(id);
				if (dialog) {
					this.$.newRequest.close();
					dialog.open();
				}
			},
			volunteerSelect: function (e, svid) {
				this.svid = e.detail;
			},
			volunteerClear: function () {
				this.svid = null;
			},
			getUuid: function() {
				var d = new Date().getTime();
				var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
					var r = (d + Math.random()*16)%16 | 0;
					d = Math.floor(d/16);
					return (c=='x' ? r : (r&0x3|0x8)).toString(16);
				});
				return uuid;
			},
			add: function(e){
				this.instance_item = e.model.item.item;
				this.push('requestList', this.instance_item);
			},
			select: function(e){
				this.requestList = [];
				this.instance_item = e.model.item.item;
				this.push('requestList', this.instance_item);
			},
			addCustomS: function () {
				this.push('requestList', this.custom);
			},
			addCustomO: function () {
				this.requestList = [];
				this.push('requestList', this.custom);
			},
			close: function (e) {
				var button = e.target;
				while (!button.hasAttribute('data-dialog') && button !== document.body) {
					button = button.parentElement;
				}
				if (!button.hasAttribute('data-dialog')) {
					return;
				}
				this.dialog = button.getAttribute('data-dialog');
				this.requestList = [];
				this.custom = null;
        		this.$[this.dialog].close();
			},
			send: function (e, svid) {
				var button = e.target;
      		while (!button.hasAttribute('data-cat') && button !== document.body) {
        			button = button.parentElement;
      		}
      		if (!button.hasAttribute('data-cat')) {
        			return;
      		}
      		this.cat = button.getAttribute('data-cat');

      		while (!button.hasAttribute('data-dialog') && button !== document.body) {
					button = button.parentElement;
				}
				if (!button.hasAttribute('data-dialog')) {
					return;
				}
				this.dialog = button.getAttribute('data-dialog');

				this.uuidR = this.getUuid();

				this.uuidC = this.getUuid();

				if (this.svid) {
					this.uuidV = this.svid;
				}
				else {
					this.uuidV = this.getUuid();
				}

				$.post( "http://localhost:5000/requests/" + this.uuidR, {
					request_category: this.cat,
					initiated_by: this.uuidC,
					initiated_on: getTime(),
					description: JSON.stringify(this.requestList),
					scheduled_for: this.duration,
					place: this.location,
					status: this.status,
					assigned_to: this.uuidV,
					assigned_on: null,
					comments: null
				});
				this.requestList = [];
				this.custom = null;
				document.querySelector('#sent').show();
				this.$[this.dialog].close();
		}
	});
</script>

</dom-module>