<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-behavior/paper-dialog-behavior.html">
<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/webrtc.js"></script>

<dom-module id="video-element">
    <style>
        .button-icon {
            --iron-icon-height: 32px;
            --iron-icon-width: 32px;
        }
        .icon-button {
            border-radius: 15px;
            outline: 0.5px solid  rgba(0,0,0,0.2);
            box-shadow: 0 4px 16px rgba(0,0,0,0.2);
        }
        .video-dialog {
            min-width: 512px;
            min-height: 512px;
            overflow: auto;
        }
		.videoContainer {
            position: relative;
            width: 200px;
            height: 150px;
        }
        .videoContainer video {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .connectionstate {
            position: absolute;
            top: 0px;
            width: 100%;
            text-align: center;
            color: #fff
        }
    </style>
  
    <template>
        <paper-button class="icon-button" data-dialog="videoDialog" on-click="openlay">
            <iron-icon src="./png/recent.png" class="button-icon"></iron-icon>
            initiate video call
        </paper-button>
        <paper-dialog id="videoDialog" class="video-dialog active">
            <div id="remotes"></div>       
        </paper-dialog>
    </template>
    <script>

    Polymer({

	is: "video-element",

	openlay: function (e) {
		// grab the room from the URL
            var room = 'testi';

            // create our webrtc connection
            var webrtc = new SimpleWebRTC({
                // the id/element dom element that will hold "our" video
                localVideoEl: 'localVideo',
                // the id/element dom element that will hold remote videos
                remoteVideosEl: '',
                // immediately ask for camera access
                autoRequestMedia: true,
                debug: true,
				url: '192.168.0.11:8888'
            });

            // when it's ready, join if we got a room from the URL
            webrtc.on('readyToCall', function () {
                // you can name it anything
                if (room) webrtc.joinRoom(room);
            });

            // we did not get access to the camera
            webrtc.on('localMediaError', function (err) {
            });

            // a peer video has been added
            webrtc.on('videoAdded', function (video, peer) {
                console.log('video added', peer);
                var remotes = document.getElementById('remotes');
                if (remotes) {
                    var container = document.createElement('div');
                    container.className = 'videoContainer';
                    container.id = 'container_' + webrtc.getDomId(peer);
                    container.appendChild(video);

                    // suppress contextmenu
                    video.oncontextmenu = function () { return false; };

                    // resize the video on click
                    video.onclick = function () {
                        container.style.width = video.videoWidth + 'px';
                        container.style.height = video.videoHeight + 'px';
                    };
					
                    // show the ice connection state
                    if (peer && peer.pc) {
                        var connstate = document.createElement('div');
                        connstate.className = 'connectionstate';
                        container.appendChild(connstate);
                        peer.pc.on('iceConnectionStateChange', function (event) {
                            switch (peer.pc.iceConnectionState) {
                            case 'checking': 
                                connstate.innerText = 'Connecting to peer...';
                                break;
                            case 'connected':
                            case 'completed': // on caller side
                                $(vol).show();
                                connstate.innerText = 'Connection established.';
                                break;
                            case 'disconnected':
                                connstate.innerText = 'Disconnected.';
                                break;
                            case 'failed':
                                connstate.innerText = 'Connection failed.';
                                break;
                            case 'closed':
                                connstate.innerText = 'Connection closed.';
                                break;
                            }
                        });
                    }
                    remotes.appendChild(container);
                }
            });
            // a peer was removed
            webrtc.on('videoRemoved', function (video, peer) {
                console.log('video removed ', peer);
                var remotes = document.getElementById('remotes');
                var el = document.getElementById(peer ? 'container_' + webrtc.getDomId(peer) : 'localScreenContainer');
                if (remotes && el) {
                    remotes.removeChild(el);
                }
            });

            // local p2p/ice failure
            webrtc.on('iceFailed', function (peer) {
                var connstate = document.querySelector('#container_' + webrtc.getDomId(peer) + ' .connectionstate');
                console.log('local fail', connstate);
                if (connstate) {
                    connstate.innerText = 'Connection failed.';
                    fileinput.disabled = 'disabled';
                }
            });

            // remote p2p/ice failure
            webrtc.on('connectivityError', function (peer) {
                var connstate = document.querySelector('#container_' + webrtc.getDomId(peer) + ' .connectionstate');
                console.log('remote fail', connstate);
                if (connstate) {
                    connstate.innerText = 'Connection failed.';
                    fileinput.disabled = 'disabled';
                }
            });

		var button = e.target;
		while (!button.hasAttribute('data-dialog') && button !== document.body) {
			button = button.parentElement;
		}
		if (!button.hasAttribute('data-dialog')) {
			return;
		}
		var id = button.getAttribute('data-dialog');
		var dialog = document.getElementById(id);
		if (dialog) {
			dialog.open();
		}
	},
	close: function () {
		this.$.video.close();
	}

    });
    </script>

</dom-module>
